<div class="row">
  <div class="col-md-4">
    <nb-card accent="info">
      <nb-card-header>
        <div class="row h3 justify-content-left">
          <div class="col-md-6 justify-content-left">
            <img style="max-width:50%;" src="assets\img\municipality\municipality_logo.png">
          </div>
          <div class="col-md-6 justify-content-left">
            <h3> Service 1</h3>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row justify-content-left">
          <div class="col-md-auto justify-content-left">
            <h5> ..description...</h5>
          </div>
        </div>
        <div class="row justify-content-left">
        </div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-center"><button nbButton status="primary"
          (click)="onClickGo()">{{ 'general.services.goButton' | translate }}</button></nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card accent="info">
      <nb-card-header>
        <div class="row h3 justify-content-left">
          <div class="col-md-6 justify-content-left">
            <img style="max-width:50%;" src="assets\img\municipality\municipality_logo.png">
          </div>
          <div class="col-md-6 justify-content-left">
            <h3> Service 2</h3>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row justify-content-left">
          <div class="col-md-auto justify-content-left">
            <h5> ..description...</h5>
          </div>
        </div>
        <div class="row justify-content-left">
        </div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-center"><button nbButton status="primary"
          (click)="onClickGo()">{{ 'general.services.goButton' | translate }}</button></nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card accent="warning">
      <nb-card-header>
        <div class="row h3 justify-content-left">
          <div class="col-md-6 justify-content-left">
            <img style="max-width:50%;" src="assets\img\municipality\municipality_logo.png">
          </div>
          <div class="col-md-6 justify-content-left">
            <h3> Service 3</h3>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row justify-content-left">
          <div class="col-md-auto justify-content-left">
            <h5> ..description...</h5>
          </div>
        </div>
        <div class="row justify-content-left">
        </div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-center"><button nbButton status="primary"
          (click)="onClickGo()">{{ 'general.services.goButton' | translate }}</button></nb-card-footer>
    </nb-card>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <nb-card accent="primary">
      <nb-card-header>
        <div class="row h3 justify-content-left">
          <div class="col-md-6 justify-content-left">
            <img style="max-width:50%;" src="assets\img\municipality\municipality_logo.png">
          </div>
          <div class="col-md-6 justify-content-left">
            <h3> Service 4</h3>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row justify-content-left">
          <div class="col-md-auto justify-content-left">
            <h5> ..description...</h5>
          </div>
        </div>
        <div class="row justify-content-left">
        </div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-center"><button nbButton status="primary"
          (click)="onClickGo()">{{ 'general.services.goButton' | translate }}</button></nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card accent="danger">
      <nb-card-header>
        <div class="row h3 justify-content-left">
          <div class="col-md-6 justify-content-left">
            <img style="max-width:50%;" src="assets\img\municipality\municipality_logo.png">
          </div>
          <div class="col-md-6 justify-content-left">
            <h3> Service 5</h3>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row justify-content-left">
          <div class="col-md-auto justify-content-left">
            <h5> ..description...</h5>
          </div>
        </div>
        <div class="row justify-content-left">
        </div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-center"><button nbButton status="primary"
          (click)="onClickGo()">{{ 'general.services.goButton' | translate }}</button></nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card accent="success">
      <nb-card-header>
        <div class="row h3 justify-content-left">
          <div class="col-md-6 justify-content-left">
            <img style="max-width:50%;" src="assets\img\municipality\municipality_logo.png">
          </div>
          <div class="col-md-6 justify-content-left">
            <h3> Service 6</h3>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row justify-content-left">
          <div class="col-md-auto justify-content-left">
            <h5> ..description...</h5>
          </div>
        </div>
        <div class="row justify-content-left">
        </div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-center"><button nbButton status="primary"
          (click)="onClickGo()">{{ 'general.services.goButton' | translate }}</button></nb-card-footer>
    </nb-card>
  </div>
</div>