<nb-card style="width:60vw;height:auto;max-width: 95vw;  max-height: 95vh;">
  <nb-card-header class="d-flex justify-content-between">
    <h5 class="h5">{{'general.consents.consentDetails' | translate}}</h5>
    <button nbButton ghost shape="rectangle" size="tiny" (click)="closeModal()">
      <i class="material-icons">close</i>
    </button>
  </nb-card-header>
  <nb-card-body>



    <div class="row justify-content-around">
      <div class="col-sm py-1">
        <div class="accent">
          <i>
            <b>{{'general.consents.consentId' | translate}}: </b> {{cr_id}}</i>
        </div>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-sm py-1">
        <div class="accent">
          <i>
            <b>{{'general.consents.issued' | translate}}: </b> {{issued | date : "short"}}</i>
        </div>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-sm py-1">
        <div class="accent">
          <i>
            <b>{{'general.consents.status' | translate}}: </b> {{status}}</i>
        </div>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-sm py-1">
        <div class="accent">
          <i>
            <b>{{'general.services.service' | translate}}: </b> {{service}}</i>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm py-1">
        <div class="accent">
          <i>
            <b>{{'general.consents.dataprovider' | translate}}: </b> {{source}}</i>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm py-1">
        <div class="accent">
          <i>
            <b>{{'general.consents.userid' | translate}}: </b> {{userId}}</i>
        </div>
      </div>
    </div>

    <br>
    <div class="accordion-container ">
      <nb-accordion class="my-2 shadow-none border border-success">
        <nb-accordion-item>
          <nb-accordion-item-header class="">
            <h6 class="h6 pr-3">{{'general.consents.purpose_processing' | translate}}</h6>
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="my-1">
              <span class="subtitle">{{'general.consents.purpose_category' | translate}}: </span> {{purposeCat}}</div>
            <div class="my-1">
              <span class="subtitle">{{'general.consents.processing_category' | translate}}: </span> {{processingCat}}
            </div>
            <div class="my-1">
              <span class="subtitle">{{'general.services.storage' | translate}}: </span>
              {{storage.location}}({{storage.duration}})
            </div>
            <div class="my-1">
              <span class="subtitle">{{'general.consents.collectionmethod' | translate}}: </span>
              {{collectionMethod}}
            </div>
            <div class="my-1">
              <span class="subtitle">{{'general.consents.operator' | translate}}: </span>
              {{operator}}
            </div>
            <div class="my-1">
              <span class="subtitle">{{'general.consents.termination' | translate}}: </span>
              {{termination}}
            </div>
            <div class="my-1">
              <span class="subtitle">{{'general.services.shared_with' | translate}}: </span>
              <div *ngFor="let org of shareWith; let i = index" [attr.data-index]="i">
                <a href="{{org.orgUrl.startsWith('http://') ? org.orgUrl : 'http://' + org.orgUrl }}" target="_blank">
                  {{org.orgName}}
                </a>

                ({{org.businessType}}) </div>
            </div>

            <div class="mt-2 border-top">

              <div class="my-1">
                <span class="subtitle">{{'general.consents.data_processed' | translate}}: </span>
              </div>
              <div class="mx-1 my-1 py-2 badge badge-info border border-info"
                *ngFor="let concept of concepts; let i = index" [attr.data-index]="i">
                <i>{{concept}}</i>
              </div>

            </div>
            <div class="my-1">
              <span class="subtitle">{{'general.services.policy_refs' | translate}}: </span>

              <a href="{{policy.startsWith('http://') ? policy : 'http://' + policy }}" target="_blank">
                <nb-icon icon="external-link-outline"></nb-icon>
              </a>



            </div>

          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </div>
    <div class="accordion-container ">
      <nb-accordion class="my-2 shadow-none border border-success">
        <nb-accordion-item>
          <nb-accordion-item-header class="">
            <h6>{{'general.consents.history' | translate}}</h6>
          </nb-accordion-item-header>
          <nb-accordion-item-body>
             <div class="row px-2 justify-content-center ">
              <table class="table table-sm">
                <thead class="thead-light">
                  <tr>
                    <th>{{'general.consents.date' | translate}}</th>
                    <th>{{'general.consents.status' | translate}}</th>
                    <th>{{'general.consents.data_processed' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let itemHistory of history">
                    <td>
                      {{itemHistory.payload.iat | date : "short" }}
                    </td>
                    <td>
                      {{ itemHistory.payload.consent_status }}
                    </td>
                    <td>
                      <span class="badge badge-primary p-2 mx-2 my-1" *ngFor="let concept of itemHistory.payload.consent_resource_set.datasets[0].dataMappings">{{concept.name}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </div>
    <div class="accordion-container ">
      <nb-accordion class="my-2 shadow-none border border-success">
        <nb-accordion-item>
          <nb-accordion-item-header class="">
            <h6>{{'general.consents.signed_consent' | translate}}</h6>
          </nb-accordion-item-header>
          <nb-accordion-item-body>

            <div class="my-1">

              <textarea rows="10" class="form-control"
                style="width: 100%; height: 100%; overflow: hidden;">{{consentSignedToken}}</textarea>
            </div>

            <div class="mt-2 border-top">

              <div class="my-1">
                <span class="subtitle">{{'general.consents.consent_notar_status' | translate}}: </span>
                <i>{{notarizationStatus}}</i>
              </div>
              <div class="my-1">
                <span class="subtitle">{{'general.consents.view_transaction' | translate}}: </span>
                <i>{{notarizationLink}}</i>
                <!--<a href="{{notarizationLink}}" target="_blank">
                  <nb-icon icon="external-link-outline"></nb-icon>
                </a>-->
              </div>

            </div>


          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>

    </div>

    <div class="accordion-container ">
      <nb-accordion class="my-2 shadow-none border border-success">
        <nb-accordion-item>
          <nb-accordion-item-header class="">
            <h6>{{'general.consents.raw_consent' | translate}}</h6>
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="my-1">

              <textarea ng-readonly="BulletinEditMode == false" rows="20" class="form-control"
                style="width: 100%; height: 100%; overflow: hidden;">{{consent_record}}</textarea>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </div>

    <div class="modal-footer">
      <div class="row justify-content-center">
        <button nbButton ghost shape="rectangle" size="medium" status="primary"
          (click)="closeModal()">{{'general.consents.close' | translate}}</button>
      </div>

    </div>
  </nb-card-body>
</nb-card>