.login-background {
  background-color: #f5f5f5;
}

.card-badge {
  background-color: #fefefe;
}

.cm-logo {
  width: 350px;
  height: auto;
}

.cm-login-link:hover {
  text-decoration: none;
}

.signin-text-login {
  font-weight: bold;
  text-transform: uppercase;
}








