<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><img src="assets\images\app\cape_dc.png" /></a>
  </div>
  <!--<nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>-->
  <!--<ngx-layout-direction-switcher class="direction-switcher"></ngx-layout-direction-switcher>-->
</div>

<div class="header-container">

  <!-- <nb-icon nbPrefix icon="globe-outline"></nb-icon> -->
  <nb-select size="tiny" placeholder="Language" (selectedChange)="changeLang($event)" [selected]="userLanguage" status="primary">
    <nb-option *ngFor="let lang of languages" [value]="lang.lan" class="d-flex flex-row align-items-center lang-select">
      <nb-user size="small"
       [name]="lang.lan | uppercase"
       [picture]="lang.picture"
       showTitle="false">
      </nb-user>
    </nb-option>
  </nb-select>



<nb-actions size="small">

  <nb-action class="control-item" icon="question-mark-circle-outline" link="/pages/account" badgeStatus="warning" badgePosition="bottom right">

  </nb-action>
  <nb-action class="user-action">
    <nb-user
      [nbContextMenu]="loggedUserMenu"
      [onlyPicture]="userPictureOnly"
      [name]="user?.name"
      [picture]="'assets/images/app/default_user.png'"
    >
    </nb-user>
    <ng-template #elseBlock>
      <button outline nbButton>
        <a routerLink="/login" routerLinkActive="button-outline-basic-active-background-color">{{ 'login.enter_button' | translate }}</a>
      </button>
    </ng-template>
  </nb-action>
</nb-actions>
</div>
