.cabeceiraContido {
	border-bottom: 1px solid #8BB6D8;
	color: #2E6DA0;
	margin-bottom: 5px;
	margin-right: 15px;
	padding: 10px 0 5px;
}

.cabeceiraContido h1 {
	margin-left: 15px;
	font-size: 2.2em;
	line-height: 1em;
	padding: 0;
}

.corpoContido {
	padding: 0px 15px;
}


.cabeceiraSeccion {	
	color: #2E6DA0;
	margin-bottom: 5px;
	margin-right: 15px;
	padding: 10px 0 5px;
}

.cabeceiraSeccion h2 {
	font-size: 1.5em;
	line-height: 1em;
	padding: 0;
}

/****************
PAGINADOR
****************/
.pagebanner {
	width: 35%;
	float: left;
	padding-top: 2px;
	margin-left: 10px;
}

.pagebanner.pagelinks {
	float: right;
	width: 60%;
	margin-left: 0px;
	overflow: hidden;
	clear: right;
}

.pagelinks {
	color: #FFF;
	font-weight: bold;
	font-size: 0.65em;
}

.pagelinks a,.pagelinks strong {
	border: 1px solid #8BB6D8;
	background-color: #f8f8f8;
	padding: 1px 8px;
	float: left;
	display: block;
	overflow: hidden;
	margin-right: 5px;
}

.pagelinks strong,.pagelinks a:hover {
	background-color: #0C3F7B;
	color: #FFF;
}


.exportlinks {
    margin-right: 3%;
    text-align: right;
}

.export_csv {
	color: #44A700;
	padding-left: 17px;
	background-image: url(../../../imagenes/icos/csv.png);
	background-position: left center;
}



#content-wrapper table.tablasTrabajo{	
	font-size: 0.8em;
    width: 100%;
    clear: both;
}

#content-wrapper table.tablasTrabajo th{ 
    background-color: white;
    border-bottom: 2px solid #0079AC;
    color: #000000;
    padding: 6px 3px;
    text-align: left;
    white-space: nowrap;
}

#content-wrapper table.tablasTrabajo th a {	
    color: #0079AC;
    text-decoration: none;
}

#content-wrapper table.tablasTrabajo th a:hover {    
    text-decoration: underline;
}


#content-wrapper table.tablasTrabajo th.sortable a{
	padding-left: 17px;
	background-image: url(../../../imagenes/icos/list_up.png);
	background-position: left center;
}


#content-wrapper table.tablasTrabajo th.order1 a{
	padding-left: 17px;
	background-image: url(../../../imagenes/icos/list_up.png);
	background-position: left center;
}

#content-wrapper  table.tablasTrabajo th.order2 a {
	padding-left: 17px;
	background-image: url(../../../imagenes/icos/list_down.png);
	background-position: left center;
}




#content-wrapper table.tablasTrabajo th.sorted{
	/*background-image: url(../imagenes/fondos/th_Act.gif);*/
	background : red;
	color: #FFF;
}




#content-wrapper td{
    background-color: white;
    border-bottom: 1px solid #0079AC;
    color: #333333;
    font-weight: normal;
    text-align: left;
}

#content-wrapper tr.even {
	background-color: #F4F4F4;
}

#content-wrapper tr.even.encima, #content-wrapper tr.encima, tr.encima{
	background-color: #f2b063;
}




.botonera {
	float : right;
	margint-top : 10px;
	margin-bottom	: 10px;
}


.boton {
	background-color : #009DE0;
	color: #FFFFFF;
	font-size : 18px; /* La guï¿½a dice 10, meter en layout.css*/
	font-style: normal;
}




/* LOGIN */
.contenedorLogin {
    background-image: url(../../../imagenes/fondos/fondo_contenedor_index.png);
    background-repeat: repeat-x;
    height: 231px;
    margin: 0 auto;
    padding: 50px 30px 20px;
    width: auto;
}


.index_izquierda {
    background-image: url(../../../imagenes/fondos/index_left.png);
    height: 231px;
    margin: 0;
    padding: 0;
    width: 10px;
}



.index_derecha {
    background-image: url(../../../imagenes/fondos/index_right.png);
    height: 231px;
    margin: 0;
    padding: 0;
    width: 10px;
}



.metade {
    border-right: 1px solid #0079AC;
    padding-right: 40px;
    width: 52%;
}


.boton_metade {
    width: 38%;
}


.erroresLogin {
    font-size: 1.1em;
    color : #FF0000;
    margin-bottom: 10px;
    margin-top: -20px;
    width: 100%;
    text-align : center;
}


/* TAMAï¿½OS */

input.t2{
	width:20px;
}

input.t3{
	width:30px;
}

input.t8{
	width:70px;
}
input.t10{
	width:80px;
}
input.t15{
	width:120px;
}
input.t20{
	width:160px;
}

input.t25 {
	width:345px;
}

input.t30 {
	width:450px;
}

input.tNumRegistro {
	width:175px;
}

.mensajeBorrador {
	font-size: 1.25em;
	 color:#763B1D;
}


.avisoBorrador {
	font-size: 1.25em;
	color:#763B1D;
}

.campoDesactivado {
	background-image: url(../../../imagenes/fondos/input_shadow_disabled.png) !important
}