<button nbButton ghost shape="rectangle" size="small" status="primary" (click)="showConsentInfoModal()">
  <i class="material-icons">info</i>
</button>

<!--Template for Consents Info Modal-->
<ng-template #consentInfoModal let-data let-ref="dialogRef">
  <nb-card style="width: 60vw; height: auto; max-width: 95vw; max-height: 95vh">
    <nb-card-header class="d-flex justify-content-between">
      <h5 class="h5">{{ 'general.consents.consentDetails' | translate }}</h5>
      <button nbButton ghost shape="rectangle" size="tiny" (click)="ref.close()">
        <i class="material-icons">close</i>
      </button>
    </nb-card-header>
    <nb-card-body>
      <div class="row justify-content-around align-items-sm-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i>
              <b>{{ 'general.consents.consentId' | translate }}: </b> {{ data.cr_id }}</i
            >
          </div>
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="col-sm py-1">
          <div class="accent">
            <i>
              <b>{{ 'general.consents.issued' | translate }}: </b> {{ data.issued | date: 'short' }}</i
            >
          </div>
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="col-sm py-1">
          <div class="accent">
            <i>
              <b>{{ 'general.consents.status' | translate }}: </b> {{ data.status }}</i
            >
          </div>
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="col-sm py-1">
          <div class="accent">
            <i>
              <b>{{ 'general.services.service' | translate }}: </b> {{ data.service }}</i
            >
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i>
              <b>{{ 'general.consents.dataprovider' | translate }}: </b> {{ data.source }}</i
            >
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i>
              <b>{{ 'general.consents.surrogateid' | translate }}: </b> {{ data.surrogateId }}</i
            >
          </div>
        </div>
      </div>

      <br />
      <nb-accordion class="my-2 shadow-none border border-primary">
        <nb-accordion-item>
          <nb-accordion-item-header class="">
            <h6 class="h6 pr-3">{{ 'general.consents.purpose_processing' | translate }}</h6>
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="my-1">
              <span class="subtitle">{{ 'general.consents.purpose_category' | translate }}: </span> {{ data.purposeCat }}
            </div>
            <div class="my-1">
              <span class="subtitle">{{ 'general.consents.processing_category' | translate }}: </span> {{ data.processingCat }}
            </div>
            <div class="my-1">
              <span class="subtitle">{{ 'general.services.storage' | translate }}: </span>
              {{ data.storage.location }}({{ data.storage.duration }})
            </div>
            <div class="my-1">
              <span class="subtitle">{{ 'general.consents.collectionmethod' | translate }}: </span>
              {{ data.collectionMethod }}
            </div>
            <div class="my-1">
              <span class="subtitle">{{ 'general.consents.operator' | translate }}: </span>
              {{ data.operator }}
            </div>
            <div class="my-1">
              <span class="subtitle">{{ 'general.consents.termination' | translate }}: </span>
              {{ data.termination }}
            </div>
            <div class="my-1">
              <span class="subtitle">{{ 'general.services.shared_with' | translate }}: </span>
              <div *ngFor="let org of data.shareWith; let i = index" [attr.data-index]="i">
                <a href="{{ org.orgUrl.startsWith('http://') ? org.orgUrl : 'http://' + org.orgUrl }}" target="_blank">
                  {{ org.orgName }}
                </a>

                ({{ org.businessType }})
              </div>
            </div>

            <div class="mt-2 border-top">
              <div class="my-1">
                <span class="subtitle">{{ 'general.consents.data_processed' | translate }}: </span>
              </div>
              <div
                class="mx-1 my-1 py-2 badge badge-info border border-info"
                *ngFor="let concept of data.concepts; let i = index"
                [attr.data-index]="i"
              >
                <i>{{ concept }}</i>
              </div>
            </div>
            <div class="my-1">
              <span class="subtitle">{{ 'general.services.policy_refs' | translate }}: </span>

              <a href="{{ data.policy.startsWith('http://') ? data.policy : 'http://' + data.policy }}" target="_blank">
                <nb-icon icon="external-link-outline"></nb-icon>
              </a>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>

      <nb-accordion class="my-2 shadow-none border border-primary">
        <nb-accordion-item>
          <nb-accordion-item-header class="">
            <h6>{{ 'general.consents.history' | translate }}</h6>
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="row px-2 justify-content-center">
              <table class="table table-hover table-bordered">
                <thead class="thead-light">
                  <tr>
                    <th>{{ 'general.consents.date' | translate }}</th>
                    <th>{{ 'general.consents.status' | translate }}</th>
                    <th>{{ 'general.consents.data_processed' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let itemHistory of data.history">
                    <td>
                      {{ itemHistory.payload.iat | date: 'short' }}
                    </td>
                    <td>
                      {{ itemHistory.payload.consent_status }}
                    </td>
                    <td>
                      <span
                        class="badge badge-primary p-2 mx-2 my-1"
                        *ngFor="let concept of itemHistory.payload.consent_resource_set.datasets[0].dataMappings"
                        >{{ concept.name }}</span
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>

      <nb-accordion class="my-2 shadow-none border border-primary">
        <nb-accordion-item>
          <nb-accordion-item-header class="">
            <h6>{{ 'general.consents.signed_consent' | translate }}</h6>
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="my-1">
              <textarea rows="10" class="form-control" style="width: 100%; height: 100%; overflow: hidden">{{ data.consentSignedToken }}</textarea>
            </div>

            <div class="mt-2 border-top">
              <div class="my-1">
                <span class="subtitle">{{ 'general.consents.consent_notar_status' | translate }}: </span>
                <i>{{ data.notarizationStatus }}</i>
              </div>
              <div class="my-1">
                <span class="subtitle">{{ 'general.consents.view_transaction' | translate }}: </span>
                <i>{{ data.notarizationLink }}</i>
                <!--<a href="{{notarizationLink}}" target="_blank">
                  <nb-icon icon="external-link-outline"></nb-icon>
                </a>-->
              </div>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>

      <nb-accordion class="my-2 shadow-none border border-primary">
        <nb-accordion-item>
          <nb-accordion-item-header class="">
            <h6>{{ 'general.consents.raw_consent' | translate }}</h6>
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="my-1">
              <textarea ng-readonly="BulletinEditMode == false" rows="20" class="form-control" style="width: 100%; height: 100%; overflow: hidden">{{
                data.consent_record
              }}</textarea>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </nb-card-body>
    <nb-card-footer>
      <div class="row justify-content-center">
        <button nbButton ghost shape="rectangle" size="medium" status="primary" (click)="ref.close()">
          {{ 'general.close' | translate }}
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
