<nb-card style="width:60vw;height:auto;max-width: 95vw;
  max-height: 95vh;">
    <nb-card-header>
        <h4>Privacy</h4>
    </nb-card-header>
    <nb-card-body>
        <nb-card accent="warning">
            <nb-card-body>
                <div class="row justify-content-around">
                    <b>Informativa sul trattamento dei dati personali (Art. 13 Regolamento U.E. n. 679/2016 raccolti dal
                        Comune di Genova per la seguente attività:
                        l'iscrizione ai Nidi d'Infanzia, ai Centri Bambine/i, alle Sezioni Primavera e alle Scuole
                        Comunali dell'Infanzia per attivare iscrizioni, compilare
                        graduatorie pubbliche e attivare interventi organizzativi ed educativi
                    </b>
                </div>
            </nb-card-body>
        </nb-card>
        <nb-card>

            <nb-card-header>
                <h4>Privacy</h4>
            </nb-card-header>
            <nb-card-body>
                <div class="row  justify-content-center">
                    <div class="col-12">
                        <p>
                            Il Comune di Genova, in qualità di titolare (con sede in Genova, Via Garibaldi n.9,
                            telefono: 010557111; indirizzo mail:
                            <a href="mailto:urpgenova@comune.genova.it">urpgenova@comune.genova.it</a>, casella di posta
                            elettronica certificata (Pec):
                            <a
                                href="mailto:comunegenova@postemailcertificata.it">comunegenova@postemailcertificata.it</a>)
                            tratterà i dati personali conferiti
                            con il presente modulo, con modalità prevalentemente informatiche e telematiche, per le
                            finalità previste dal Regolamento (UE) 2016/679 (RGPD),
                            in particolare per l'esecuzione dei propri compiti di interesse pubblico o comunque connessi
                            all'esercizio dei propri pubblici poteri, ivi incluse le finalità
                            di archiviazione, di ricerca storica e di analisi per scopi statistici. Ove richiesto dagli
                            interessati, i dati potranno essere trattati anche per comunicare eventi o
                            altre iniziative di informazione di particolare interesse per la loro attività.
                            Il conferimento dei dati presenti nei campi contrassegnati da asterisco (o indicati nel
                            modulo quali obbligatori) è indispensabile e il loro mancato inserimento
                            non consente di completare l'istruttoria necessaria per il rilascio del provvedimento finale
                            o quant'altro richiesto. Per contro, il rilascio dei dati presenti nei
                            campi non contrassegnati da asterisco (o non indicati nel modulo quali obbligatori), pur
                            potendo risultare utile per agevolare i rapporti con il Comune di Genova,
                            è facoltativo e la loro mancata indicazione non pregiudica il completamento della procedura.
                        </p>
                        <p>
                            I dati saranno trattati per tutto il tempo necessario alla definizione di quanto richiesto
                            dall'utente e saranno successivamente conservati in conformità
                            alle norme sulla conservazione della documentazione amministrativa.
                        </p>
                        <p>
                            I dati saranno trattati esclusivamente dal personale e da collaboratori del Comune di Genova
                            o delle imprese espressamente nominate come responsabili del
                            trattamento. Al di fuori di queste ipotesi i dati non saranno comunicati a terzi né diffusi,
                            se non nei casi specificamente previsti dal diritto nazionale
                            o dell'Unione europea.
                        </p>
                        <p>
                            Alcuni dati potranno essere pubblicati on line nella sezione Amministrazione Trasparente in
                            quanto necessario per adempiere agli obblighi di legge previsti
                            del D.Lgs. n. 33/2013 - testo unico in materia di trasparenza amministrativa.
                            Gli interessati hanno il diritto di chiedere al titolare del trattamento l'accesso ai dati
                            personali e la rettifica o la cancellazione degli stessi o la limitazione
                            del trattamento che li riguarda o di opporsi al trattamento (artt. 15 e ss. del RGPD).
                            L'apposita istanza all'Autorità è presentata contattando il
                            Responsabile della protezione dei dati presso il Comune di Genova (Responsabile della
                            Protezione dei dati personali, Via Garibaldi n.9, Genova 16124, email: <a
                                href="mailto:PDO@comune.genova.it">PDO@comune.genova.it</a>).
                        </p>
                        <p>
                            Gli interessati, ricorrendone i presupposti, hanno, altresì, il diritto di proporre reclamo
                            al Garante quale autorità di controllo secondo le procedure previste.
                        </p>
                    </div>
                </div>
                <div class="row  justify-content-center mt-3 mb-3">
                    <div class="col-12">
                        <nb-checkbox (checkedChange)="toggle($event)"></nb-checkbox>
                       <b> Dichiaro di aver letto l'informativa sulla privacy</b>
                      
                    </div>
                    
                </div>

                <div class="row  justify-content-left mt-3 mb-3">
                    <div class="col-12">
                        <p><b>Consenso al trattamento dei dati per altre finalità</b></p>
                        
                            <button nbButton status="primary" shape="semi-round" outline (click)="openConsentForm()"><nb-icon outline icon="checkmark"></nb-icon>Dai il
                                Consenso</button>    
                    </div>

                  

                </div>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-header>
                <h4>Informativa</h4>
            </nb-card-header>
                    <nb-card-body>
                        <div class="row  justify-content-center">
                            <div class="col-12">
                                <p>
                                    Sono consapevole della responsabilità penale che mi assumo per quanto dichiarato ai
                                    sensi
                                    dell'art. 76 del DPR 445/2000 per falsità in atti o dichiarazioni mendaci.
                                </p>
                                <p>
                                    Sono consapevole che al momento dell'accettazione al posto la bambina/o dovrà essere
                                    in
                                    regola con gli adempimenti vaccinali, ai sensi della L. 119/2017.
                                </p>
                                <p>
                                    Sono a conoscenza che possono essere eseguiti controlli diretti ad accertare la
                                    veridicità
                                    delle informazioni fornite.
                                </p>
                            </div>
                        </div>

                        <div class="row  justify-content-center mt-3 mb-3 text-center">
                            <div class="col-12">
                                <p><b>Solo per iscrizione alla scuola infanzia:</b></p>
                            </div>
                        </div>

                        <div class="row  justify-content-center">
                            <div class="col-12">
                                <p>
                                    Sono consapevole che le scuole dell'infanzia comunali e statali sono in rete e sono
                                    informate reciprocamente di tutte le domande presentate al fine di evitare
                                    l'occupazione di
                                    più posti per un solo bambino.
                                </p>
                                <p>
                                    Sono consapevole inoltre che l'ammissione in una scuola dell'infanzia statale
                                    comporta,
                                    previo avviso alle famiglie, la decadenza di tutte le domande presentate alle scuole
                                    comunali dell'infanzia che permangono in graduatoria per lo stesso anno scolastico
                                    anche
                                    l'accettazione del posto in una Scuola dell'Infanzia in regime di convenzione
                                    comporta la
                                    cancellazione dalle graduatorie delle Scuole dell'Infanzia Comunali.
                                </p>
                            </div>
                        </div>


                    </nb-card-body>
                    <nb-card-footer>
                        <div class="row  justify-content-center">
                            <button nbButton status="success" [disabled]="isSubmitDisabled" (click)="submit()">Avanti</button>
                        </div>
                    </nb-card-footer>
        </nb-card>


    </nb-card-body>

</nb-card>