<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of auditCardSet">
    <ngx-status-card [title]="statusCard.title" [type]="statusCard.type" [iconClass]="statusCard.iconClass" [value]="statusCard.value">
      <i [ngClass]="statusCard.iconClass"></i>
      <!-- <div _ngcontent-xyp-c15="" class="icon-container"><div _ngcontent-xyp-c15="" class="icon status-primary">

           <nb-icon icon="toggle-left-outline" pack="eva"></nb-icon>
         </div>
       </div>-->
    </ngx-status-card>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <nb-card class="p-0 col-lg-12 col-md-8 " *ngIf="auditLog && auditLog.totalProcessedPersonalDataCount > 0">
    <nb-card-header>Processed Personal Data</nb-card-header>
    <nb-card-body class="p-0">
      <processed-data-pie [inputData]="auditLog.processedPersonalDataCount"></processed-data-pie>
    </nb-card-body>
  </nb-card>
</div>

<div class="row d-flex justify-content-center">
  <nb-card class="col-lg-12 col-md-6" *ngIf="auditLog && (auditLog.processingCategoryPersonalData| keyvalue)?.length">
    <nb-card-header>Personal Data vs Processing</nb-card-header>
    <nb-card-body class="px-1">
      <personal-data-processing-bar [inputData]="auditLog.processingCategoryPersonalData"></personal-data-processing-bar>
    </nb-card-body>
  </nb-card>
</div>



<div class="px-0 row d-flex justify-content-center">
  <div class="col-lg-6" *ngIf="auditLog && (auditLog.purposeCategoryCount | keyvalue)?.length">
    <nb-card>
      <nb-card-header>Purpose</nb-card-header>
      <nb-card-body>
        <purpose-category-pie [inputData]="auditLog.purposeCategoryCount"></purpose-category-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6" *ngIf="auditLog && (auditLog.legalBasisCount | keyvalue)?.length">
    <nb-card>
      <nb-card-header>Context</nb-card-header>
      <nb-card-body>
        <legalbasis-pie [inputData]="auditLog.legalBasisCount"></legalbasis-pie>
      </nb-card-body>
    </nb-card>
  </div>
</div>


<div class="row d-flex justify-content-center">
  <nb-card class="col-lg-12 col-md-6" *ngIf="auditLog && (auditLog.storageLocationPersonalData | keyvalue)?.length">
    <nb-card-header>Where and which data is stored</nb-card-header>
    <nb-card-body class="px-1">
      <personal-data-storage-bar [inputData]="auditLog.storageLocationPersonalData"></personal-data-storage-bar>
    </nb-card-body>
  </nb-card>
</div>
