<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p %C{2} (%F:%L) - %m%n" />
		</Console>

	</Appenders>

	<Loggers>
		<Logger name="org.apache.log4j.xml" level="ERROR" />
		<Logger name="org.mongodb.driver" level="ERROR" />


		<!-- </Logger> -->
		<Root level="INFO">
			<AppenderRef ref="STDOUT" />

			<!-- <appender-ref ref="databaseAppender" /> -->
			<!-- <AppenderRef ref="jpaAppender"/> -->
		</Root>
	</Loggers>
</Configuration>
