<!-- Cape Context Menu -->
<div class="header-container row d-flex justify-content-center">
  <div class="logo-container col-md-2">
    <button nbButton outline class="logo" [nbContextMenu]="menuItems" [nbContextMenuPlacement]="'left'" nbContextMenuTag="cape-context-menu">
      <img src="app\cape-sdk-angular\assets\img\cape-logo.png">
    </button>
  </div>
  <div *ngIf="isServiceRegistered" class="col-md-2">
    <div class="row justify-content-end">
      <button nbButton class="p-2" shape="round" size="small" status="primary" (click)="refreshStatus()">{{'general.refresh' | translate }}&nbsp;<i class="material-icons">refresh</i></button>
    </div>
  </div>
</div>

<!--                   -->
<!-- Dialog template for linking from Operator -->
<ng-template #linkingDialog let-data let-ref="dialogRef">
  <nb-card accent="primary">
    <nb-card-header class="d-flex justify-content-center"><h5>{{ 'general.services.linkingTitle' | translate }}</h5></nb-card-header>
    <nb-card-body>
      <div class="row p-2 justify-content-center" [innerHTML]="'general.services.linkingMessage' | translate:{ 'serviceName' : serviceName }"></div>
      <div class="mt-3 pl-5 pr-5 row justify-content-between">
        <button nbButton shape="rectangle" status="success" (click)="startLinkingAfterServiceLogin()">{{'general.services.linkButton' | translate }}</button>
        <button nbButton shape="rectangle" status="danger" class="button-filled-danger-focus-border-color" (click)="cancel()">{{'general.services.cancelButton' | translate}}</button>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #linkedDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="d-flex justify-content-between">
      <h5 class="h5 mr-3">{{ 'general.services.linkingSuccessfulHeader' | translate}}</h5>
      <button nbButton ghost shape="rectangle" size="small" (click)="openedDialog.close()">
        <i class="material-icons">close</i>
      </button>
    </nb-card-header>
    <nb-card-body class="m-3">
      {{data.message}}
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton ghost shape="rectangle" size="medium" (click)="closeLinkedDialog(data.message)">
        {{ 'general.services.closeButton' | translate }}
      </button>
      <button nbButton ghost shape="rectangle" size="medium" (click)="closeLinkedDialogAndReturnToOperator(data.message)">
        {{ 'general.services.closeAndReturnToOperatorButton' | translate }}
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
