@import '../../themes';

@include nb-install-component {
 
.logo-container {
  display: flex;
  align-items: center;
  width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
}

.header-container {
  display: flex;
  align-items: center;
  width: auto;
 
  .logo {
    padding: 0.25rem;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

}
