
<header>
  <div id="top-nav">
    <div class="container-fluid">
      <div class="row external">
        <div class="visible-sm visible-md visible-lg top-nav-sx col-sm-4">
          <a href="http://www.regione.liguria.it" target="_blank" rel="noopener noreferrer">
            <span>Regione Liguria</span>
          </a>
        </div>
        <div class="top-nav-dx col-xs-12 col-sm-8">
          <a href="http://www.visitgenoa.it" target="_blank" rel="noopener noreferrer">
            Visita Genova
          </a>|
          <a href="http://www.genovameravigliosa.com" target="_blank" rel="noopener noreferrer">
            Investi a Genova
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="main-nav">
    <div class="container">
      <div class="row">
        <div class="left-part">
          <div class="pull-left logo_col">
            <div class="logo_container clearfix">
              <div class="logo_wrapper clearfix">
                <a href="https://smart.comune.genova.it/"><img src="assets/images/cape-logo.png" class="logo" alt="Logo Comune di Genova"></a>
              </div>
              <div class="logo_text clearfix">
                <div class="h3"><a href="https://smart.comune.genova.it/">Comune di Genova</a></div>
              </div>
            </div><!-- /logo_container -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </header>