<nb-card class="">
  <nb-card-header>
    <div class="row h3 justify-content-center">{{ 'general.services.welcome' | translate: { name: accountId } }}</div>
    <div class="row justify-content-center"><img style="max-width: 20%" src="assets\images\app\cape-logo.png" /></div>
  </nb-card-header>
  <nb-card-body>
    <div class="row justify-content-center">
      <div class="col-md-auto justify-content-center">
        <h5>{{ 'general.services.selectService' | translate }}</h5>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-auto">
        <nb-radio-group [(value)]="selectedService">
          <nb-radio value="MyWellness">MyWellness</nb-radio>
          <nb-radio value="MyMeasurements">MyMeasurements</nb-radio>
        </nb-radio-group>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-center"
    ><button nbButton status="primary" (click)="onClickGo()">{{ 'general.services.goButton' | translate }}</button></nb-card-footer
  >
</nb-card>
