<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="div-title col-md-12">
            <div class="div-title-h2">
              <h2>Tutti i Servizi online</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 filtro_servizi_online">
            <span class="field-content">
              <a href="" title="Vai al servizi" class="active">
                <img typeof="foaf:Image" style="max-width: 50%" src="assets\images\municipality\house3.png" alt="Icona demografici" />
                <img typeof="foaf:Image" style="max-width: 50%" src="assets\images\municipality\house2.png" alt="Icona demografici" />
              </a>
            </span>
            <div class="views-field views-field-name">Demografici</div>
          </div>

          <div class="col-md-2 filtro_servizi_online">
            <span class="field-content">
              <a href="" title="Vai al servizi" class="active">
                <img typeof="foaf:Image" style="max-width: 50%" src="assets\images\municipality\protezione-civile1_0.png" alt="Icona demografici" />
                <img typeof="foaf:Image" style="max-width: 50%" src="assets\images\municipality\protezione-civile2_0.png" alt="Icona demografici" />
              </a>
            </span>
            <div class="views-field views-field-name"><span class="field-content">Protezione Civile</span></div>
          </div>

          <div class="col-md-2 filtro_servizi_online">
            <span class="field-content">
              <a href="" title="Vai al servizi" class="active">
                <img typeof="foaf:Image" style="max-width: 50%" src="assets\images\municipality\concorsi1-1.png" alt="Icona demografici" />
                <img typeof="foaf:Image" style="max-width: 50%" src="assets\images\municipality\concorsi1-3.png" alt="Icona demografici" />
              </a>
            </span>
            <div class="views-field views-field-name"><span class="field-content">Concorsi</span></div>
          </div>

          <div class="col-md-2 filtro_servizi_online">
            <span class="field-content">
              <a href="" title="Vai al servizi" class="active">
                <img typeof="foaf:Image" style="max-width: 50%" src="assets\images\municipality\edilizia1_0.png" alt="Icona demografici" />
                <img typeof="foaf:Image" style="max-width: 50%" src="assets\images\municipality\edilizia3_0.png" alt="Icona demografici" />
              </a>
            </span>
            <div class="views-field views-field-name"><span class="field-content">Edilizia</span></div>
          </div>

          <div class="col-md-2 filtro_servizi_online">
            <span class="field-content">
              <a href="" title="Vai al servizi" class="active">
                <img typeof="foaf:Image" style="max-width: 50%" src="assets\images\municipality\istruzione3.png" alt="Icona demografici" />
                <img typeof="foaf:Image" style="max-width: 50%" src="assets\images\municipality\istruzione2.png" alt="Icona demografici" />
              </a>
            </span>
            <div class="views-field views-field-name"><span class="field-content">Istruzione</span></div>
          </div>

          <div class="col-md-2 filtro_servizi_online">
            <span class="field-content">
              <a href="" title="Vai ai servizi" class="active">
                <img typeof="foaf:Image" style="max-width: 50%" src="assets\images\municipality\cultura1.png" alt="Icona demografici" />
                <img typeof="foaf:Image" style="max-width: 50%" src="assets\images\municipality\cultura2.png" alt="Icona demografici" />
              </a>
            </span>
            <div class="views-field views-field-name"><span class="field-content">Cultura</span></div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <nb-card style="background-color: #da87bd">
      <nb-card-header>
        <div class="row h3 justify-content-left">
          <div class="col-md-4 justify-content-left">
            <img style="max-width: 50%" src="assets\images\municipality\istruzione3.png" />
          </div>
          <div class="col-md-8 justify-content-left">
            <div style="font-style: italic; color: white">Scuola e formazione</div>
            <div style="color: white">Iscrizioni servizi 0-6</div>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row justify-content-left">
          <div class="col-md-auto justify-content-left">
            <h5 style="color: white">Manifestazione d’interesse on line servizi asilo nido ed infanzia 2020</h5>
          </div>
        </div>
        <div class="row justify-content-left"></div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-center"
        ><button nbButton status="primary" (click)="onClickGo('GE_1', 'Reuse_1')">{{ 'general.services.goButton' | translate }}</button></nb-card-footer
      >
    </nb-card>
  </div>

  <div class="col-md-4">
    <nb-card style="background-color: #a986ad">
      <nb-card-header>
        <div class="row h3 justify-content-left">
          <div class="col-md-4 justify-content-left">
            <img style="max-width: 50%" src="assets\images\municipality\protezione-civile1_0.png" />
          </div>
          <div class="col-md-8 justify-content-left">
            <div style="font-style: italic; color: white">Protezione Civile</div>
            <div style="color: white">Iscrizione allerta</div>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row justify-content-left">
          <div class="col-md-auto justify-content-left">
            <h5 style="color: white">Servizio di info e allerta tramite messagistica e BOT</h5>
          </div>
        </div>
        <div class="row justify-content-left"></div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-center"
        ><button nbButton status="primary" (click)="onClickGo('GE_2', 'Reuse_1')">{{ 'general.services.goButton' | translate }}</button></nb-card-footer
      >
    </nb-card>
  </div>

  <div class="col-md-4">
    <nb-card style="background-color: #3da5d9">
      <nb-card-header>
        <div class="row h3 justify-content-left">
          <div class="col-md-4 justify-content-left">
            <img style="max-width: 50%" src="assets\images\municipality\concorsi1-1.png" />
          </div>
          <div class="col-md-8 justify-content-left">
            <div style="font-style: italic; color: white">Concorsi</div>
            <div style="color: white">Iscrizione concorsi e selezione</div>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row justify-content-left">
          <div class="col-md-auto justify-content-left">
            <h5 style="color: white">Servizio di info e modalità di selezione online</h5>
          </div>
        </div>
        <div class="row justify-content-left"></div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-center"
        ><button nbButton status="primary">{{ 'general.services.goButton' | translate }}</button></nb-card-footer
      >
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <nb-card style="background-color: #73bfb8">
      <nb-card-header>
        <div class="row h3 justify-content-left">
          <div class="col-md-4 justify-content-left">
            <img style="max-width: 50%" src="assets\images\municipality\edilizia1_0.png" />
          </div>
          <div class="col-md-8 justify-content-left">
            <div style="font-style: italic; color: white">Edilizia</div>
            <div style="color: white">Presentazioni pratiche edilizie</div>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row justify-content-left">
          <div class="col-md-auto justify-content-left">
            <h5 style="color: white">Servizio per la presentazione di pratiche e documenti online</h5>
          </div>
        </div>
        <div class="row justify-content-left"></div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-center"
        ><button nbButton status="primary">{{ 'general.services.goButton' | translate }}</button></nb-card-footer
      >
    </nb-card>
  </div>

  <div class="col-md-4">
    <nb-card style="background-color: #8cb36c">
      <nb-card-header>
        <div class="row h3 justify-content-left">
          <div class="col-md-4 justify-content-left">
            <img style="max-width: 50%" src="assets\images\municipality\house3.png" />
          </div>
          <div class="col-md-8 justify-content-left">
            <div style="font-style: italic; color: white">Demografici</div>
            <div style="color: white">Prenotazione pubblicazione matrimonio civile</div>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row justify-content-left">
          <div class="col-md-auto justify-content-left">
            <h5 style="color: white">Consente ai futuri sposi di prenotare online l'appuntamento con l' Ufficio di Stato Civile</h5>
          </div>
        </div>
        <div class="row justify-content-left"></div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-center"
        ><button nbButton status="primary">{{ 'general.services.goButton' | translate }}</button></nb-card-footer
      >
    </nb-card>
  </div>

  <div class="col-md-4">
    <nb-card style="background-color: #ccb533">
      <nb-card-header>
        <div class="row h3 justify-content-left">
          <div class="col-md-4 justify-content-left">
            <img style="max-width: 50%" src="assets\images\municipality\cultura1.png" />
          </div>
          <div class="col-md-8 justify-content-left">
            <div style="font-style: italic; color: white">Cultura</div>
            <div style="color: white">Acquisto Card Musei, visite guidate</div>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row justify-content-left">
          <div class="col-md-auto justify-content-left">
            <h5 style="color: white">Card musei e visite guidate</h5>
          </div>
        </div>
        <div class="row justify-content-left"></div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-center"
        ><button nbButton status="primary">{{ 'general.services.goButton' | translate }}</button></nb-card-footer
      >
    </nb-card>
  </div>
</div>
